<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Slack Panther Image Show</title>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/modal.css">
</head>
<body >
  <div class="modal-overlay"></div>
  <div class="logo-container">
    <img class="logo-image" src="https://cdnresoltzcus.blob.core.windows.net/images/thumbnails/trx/slack-panther-logo.png" alt="logo" >
  </div>
  <h1 class="instructions">Select one of the three  Black Panther characters to see more related images</h1>
  <div class="button-container">
    <button  class="character-selectors hover-highlight character-1" data-actress="Danai Gurira">Okoye</button>
    <button  class="character-selectors hover-highlight character-2" data-actress="Lupita Nyong'o">Nakia</button>
    <button  class="character-selectors hover-highlight character-3" data-actress="letitia wright">Shuri</button>
  </div>
  <div class="image-container"></div>
  <div class="modal-container">
    <div class="modal-header"><span class="modal-close-btn">X</span></div>
    <div class="modal-items">
    </div>
      <!-- Next and previous buttons -->
      <div class='modal-arrow-buttons'>
        <a class="prev-button modal-arrow" >&#10094;</a>
        <a class="next-button modal-arrow" >&#10095;</a>
      </div>
    <div class="modal-footer"></div>
  </div>

  <script src="js/base.js" charset="utf-8"></script>
</body>
</html>
