html,
body,
div,
p,
h1,
h2 {
  font-family: Verdana, 'Lucida Sans', sans-serif;
  color: #000;
}

html,
body,
div,
p {
  font-weight: normal;
}

body {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 0%;
}

/*  styling for the main slackpanther hero logo */
.logo-container {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.logo-image {
  width: 50%;
  height: 25%;
}

.instructions {
  margin: 2% 5%;
  text-align: center;
}

/* button to select characters */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1% auto;
  width: 80%;
}

.character-selectors {
  background-color: rgb(221, 21, 90);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5em;
  height: 40px;
  margin: 2% 0;
}

.character-selectors:focus {
  outline: 0;
}

/*  Container for images on the main landing page (not inside the modal)*/
.image-container {
  padding: 10px;
  width: 100%;
}

#image-container-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-tile-thumbnail {
  margin: 0.5%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  /* button to select characters */
  .button-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .character-selectors {
    width: 20%;
  }

  .image-container {
    display: grid;
    width: 50%;
  }
}

