/* MODAL */

.disable-scroll {
  overflow: hidden;
  position: fixed;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  left: 0;
  padding: 100px 0 0 0;
  position: absolute;
  right: 0;
  width: 100vw;
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
}

.modal-container {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(110, 107, 107, 1);
  border-radius: 10px;
  display: none;
  flex-direction: column;
  height: 80vh;
  margin: auto;
  padding: 20px;
  position: absolute;
  top: 10%;
  width: 90%;
  z-index: 3;
  animation-name: fadeIn;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
}

.close:hover,
.close:focus {
  color: rgba(125, 119, 119, 1);
  cursor: pointer;
  text-decoration: none;
}

img.hover-highlight {
  transition: 0.3s;
}

.hover-highlight:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  height: 5%;
}

.modal-close-btn {
  cursor: pointer;
  font-size: 1.5em;
}

.modal-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
}

span.prev-button:before {
  content: '\003c';
  color: rgb(27, 137, 115);
}

span.next-button:before {
  content: '\003e';
  color: rgb(27, 137, 115);
}

.modal-image-parent {
  display: flex;
  justify-content: center;
  margin: 5% 0;
  width: 100%;
}

.modal-image {
  width: 100%;
  height: 400px;
}

.modal-arrow-buttons {
  display: flex;
  justify-content: space-between;
  height: 5%;
}

.modal-arrow {
  cursor: pointer;
  font-size: 2em;
}

.modal-arrow:focus {
  outline: 0;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0;
  height: 30%;
}

.modal-footer-image-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.modal-footer-image-tile {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
}

.modal-footer-image {
  max-width: 60px;
  height: auto;
}

.show-modal {
  display: flex;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    top: 0%;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    top: 0%;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  /* button to select characters */
  .button-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .character-selectors {
    width: 20%;
  }

  .modal-items {
    flex-grow: 1;
    height: 70%;
  }

  /*  Modal styling for the main image selected */
  .modal-image-parent {
    margin: 5% 0;
  }

  .modal-image {
    margin: 1% 0;
    max-height: 450px;
    width: auto;
  }
  
  .modal-footer {
    height: 20%;
  }
}

